In [ ]:
#inirization is used for dada dividing and thrashold uses a data to be devided into what limit it shoud be devided

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import numpy as np
import pandas as pd

{'company name': ['hi',
  'bye',
  'hello',
  'bollo',
  'challo',
  'nacho',
  'gaoo',
  'suno',
  'nacho',
  'detollo'],
 'placement seat': [503420,
  5434346,
  8666787,
  97767,
  57765343,
  867736,
  856533,
  88787,
  99999,
  323232]}

In [ ]:
a1=pd.DataFrame(a)
a1

  company name  placement seat
0           hi          503420
1          bye         5434346
2        hello         8666787
3        bollo           97767
4       challo        57765343
5        nacho          867736
6         gaoo          856533
7         suno           88787
8        nacho           99999
9      detollo          323232

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import Binarizer

In [ ]:
x=a1.iloc[: , 1].values#x=dataframe location=ilock[: , 1=index].values=scanning values from indexing 1
x

array([  503420,  5434346,  8666787,    97767, 57765343,   867736,
         856533,    88787,    99999,   323232])

In [ ]:
b=Binarizer(threshold=25000)

In [ ]:
x1 =x.reshape(-1,1)
x1

array([[  503420],
       [ 5434346],
       [ 8666787],
       [   97767],
       [57765343],
       [  867736],
       [  856533],
       [   88787],
       [   99999],
       [  323232]])

In [ ]:
T=pd.DataFrame(b.fit_transform(x1))
T

   0
0  1
1  1
2  1
3  1
4  1
5  1
6  1
7  1
8  1
9  1

In [ ]:
u=a1.join(T)

In [ ]:
u

  company name  placement seat  0
0           hi          503420  1
1          bye         5434346  1
2        hello         8666787  1
3        bollo           97767  1
4       challo        57765343  1
5        nacho          867736  1
6         gaoo          856533  1
7         suno           88787  1
8        nacho           99999  1
9      detollo          323232  1