In [1]:
import pandas as pd
d1={ 'WEIGHT':[12,13,66,19,23,54,22,76,11,96,11],'PRICE':[1,2,3,4,5,6,7,8,9,10,11]}
df=pd.DataFrame(d1)
df

    WEIGHT  PRICE
0       12      1
1       13      2
2       66      3
3       19      4
4       23      5
5       54      6
6       22      7
7       76      8
8       11      9
9       96     10
10      11     11

In [2]:
# StandardScaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df2 = pd.DataFrame(scaler.fit_transform(df),
columns=['WEIGHT','PRICE'])
df2

      WEIGHT     PRICE
0  -0.841493 -1.581139
1  -0.807337 -1.264911
2   1.002961 -0.948683
3  -0.602397 -0.632456
4  -0.465771 -0.316228
5   0.593082  0.000000
6  -0.499928  0.316228
7   1.344526  0.632456
8  -0.875650  0.948683
9   2.027657  1.264911
10 -0.875650  1.581139